{% extends "cliente/base_cliente.html" %}
{% load staticfiles %}
 


{% block filtercategory %}
<script>
function update_categoria(cat_id)
{
  current_ul = document.getElementById('categoria_menu')
  current_cat = document.getElementById(cat_id)
  document.getElementById('categoria').innerHTML = current_cat.innerHTML
  // TODO: get sub categoria list using an ajax tool :/
  // must send the quer
}
function update_subcategoria(cat_id)
{
  current_cat = document.getElementById(cat_id)
  document.getElementById('categoria').innerHTML = current_cat.innerHTML
}

function remove_categoria(){
  current_ul = document.getElementById('categoria').innerHTML='Elige una Categoria'
}

function remove_sub_categoria(){
  current_ul = document.getElementById('subcategoria').innerHTML='Elige una Categoria'
}
</script>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="categoria">
             Elige una Categoria <!-- va a faltar un JS inteligente que actualice esto -->
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="categoria" id="categoria_menu">
{% for categoria in categorias_list %}
            <li class="mdl-menu__item" onclick="update_categoria('cat_{{ categoria.id }}')" id="cat_{{ categoria.id }}">{{ categoria.nombre }} </li>
{% endfor %}
             <li class="mdl-menu__item" onclick="remove_categoria()" id="None">Eliminar Filtro</li>
          </ul>
{% if sub_categorias_list %}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="subcategoria_menu">
             SubCategoria
          </button>
  {% for subcategoria in sub_categorias_list %}
              <li class="mdl-menu__item" onclick="update_sub_categoria('sub_cat_{{ categoria.id }}')" id="sub_cat_{{ categoria.id }}">{{ categoria.nombre }} </li>
  {% endfor %}
              <li class="mdl-menu__item" onclick="remove_sub_categoria()" id="None">Eliminar Filtro</li>

{% endif %}
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="subcategoria">
            <!-- Elementos del menu de la derecha -->
            <li class="mdl-menu__item">Cat1</li>
            <li class="mdl-menu__item">Cat2</li>
            <li class="mdl-menu__item">Cat3</li>
          </ul>

          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" />
              <label class="mdl-textfield__label" for="search">Introduce tu busqueda...</label>
            </div>
          </div>
        </div>
   <!-- submit form buttos using javascript -->
          <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect">Buscar</a>
<form action="/cliente/producto/" method="post">
   <!-- csrf--> 
   <!-- Keep in mind do a dirty flag for search changes --> 
  <!-- data to collect, categoria, sub_categoria, search field, and page (if the search was updated -->
</form>


{% endblock  %}



{% block content %}

  <div class="demo-cards mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-grid demo-content">

<!-- TODO: counld be nice replace all this for an endpoint that provides the HTML-->
{% for producto in product_list %}
    <div class="mdl-cell mdl-cell--5-col">
      <div class="demo-card-promo mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">

          <h2 class="mdl-card__title-text">
{{ producto.nombre }}
          </h2>
        </div>
        <div class="mdl-card__supporting-text">
{{ producto.descripcion }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/add_order/{{ producto.id  }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Añadir al Pedido</a>
          <a href="/add_to_my_list/{{ producto.id }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">lista</a>
        </div>
        <!-- IF IMAGE -->
          <div class="mdl-card__menu">
              <i class="material-icons">local_offer</i>
          </div>
        <!-- ENDIF IMAGE -->
      </div>
    </div>
  <!-- END Element-->
{% endfor %}
<!-- end of content block -->
<br>
<!-- not in nice place :( -->
<div class="pagination">
    <span class="step-links">
        {% if product_list.has_previous %}
            <a href="?page={{ product_list.previous_page_number }}">Ant < </a>
        {% endif %}

        <span class="current">
            Pag. {{ product_list.number }} de {{ product_list.paginator.num_pages }}
        </span>

        {% if product_list.has_next %}
            <a href="?page={{ product_list.next_page_number }}">Sig ></a>
        {% endif %}
    </span>
</div>

  </div>
  </div>

<br>
<!-- <img src="{% static "gip/images/dog.png" %}" alt="MyImage1">  -->

{% endblock %}

