{% extends "cliente/base_cliente.html" %}
{% load staticfiles %}

{% block imports %}
<link rel="stylesheet" href="{% static "gip_html5/css/form.css" %}" >
<script src="{% static "gip_html5/js/modal.js" %}" ></script>
<script src="{% static "gip_html5/js/jquery.jeditable.mini.js" %}" ></script>
<!-- http://www.appelsiini.net/projects/jeditable -->
{% endblock %}


{% block body %}
{% endblock %}

{% block purejavascript %}
 $(document).ready(function(){
        //add as edit the list_names
        $('[class^="custom_elem_"]').editable('/cliente/listas/add_custom/', {
          submitdata : { csrfmiddlewaretoken : "{{ csrf_token }}"},
          name : 'custom_to_add',
           callback : function(value, settings) {
               alert('logicc to add element to the table');
           }
        });

	$('[class^="lista_nombre_"]').editable('/cliente/listas/update/', {
          submitdata : { csrfmiddlewaretoken : "{{ csrf_token }}"},
          name : 'lista_to_update',
           callback : function(value, settings) {
               document.getElementById('lista_header_'+this.id).text=value;
           }
        });
        //this should be a simple jquery regexp with elem_ stock_ and exis_ but it does not work 
	$('[class^="elem_"]').editable('/cliente/elemento/update/',{
          submitdata : { csrfmiddlewaretoken : "{{ csrf_token }}",
          },
          name : 'elem_to_update',
           callback : function(value, settings) {
               var parsed_value = JSON.parse(value);
               if (parsed_value['msg'] == 'ERR!!!') {
	  	 alert('there was an error Processing your request')
                 document.getElementById(this.id).textContent=-1;
               } else {
                 //here we go!
                 document.getElementById(this.id).textContent=parsed_value['msg'];
	       }
           }



        });
        $('[class^="stoc_"]').editable('/cliente/elemento/update/',{
          submitdata : { csrfmiddlewaretoken : "{{ csrf_token }}",
          },
          name : 'elem_to_update',
           callback : function(value, settings) {
               var parsed_value = JSON.parse(value);
               if (parsed_value['msg'] == 'ERR!!!') {
                 alert('there was an error Processing your request')
                 document.getElementById(this.id).textContent=-1;
               } else {
                 //here we go!
                 document.getElementById(this.id).textContent=parsed_value['msg'];
               }
           }



        });
        $('[class^="exis_"]').editable('/cliente/elemento/update/',{
          submitdata : { csrfmiddlewaretoken : "{{ csrf_token }}",
          },
          name : 'elem_to_update',
           callback : function(value, settings) {
               var parsed_value = JSON.parse(value);
               if (parsed_value['msg'] == 'ERR!!!') {
                 alert('there was an error Processing your request')
                 document.getElementById(this.id).textContent=-1;
               } else {
                 //here we go!
                 document.getElementById(this.id).textContent=parsed_value['msg'];
               }
           }



        });


        //add all elements


  }); 



dirty = 0;
function addHidden(theForm, key, value) {
    // Create a hidden input element, and append it to the form:
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key;'name-as-seen-at-the-server';
    input.value = value;
    theForm.appendChild(input);
}

function submitform()
{
  if (dirty == 0){
    myform = document.forms["form"];
    // add your favorite JS validators here
    //TODO: check for duplicated names for instance or only white spaces
    addHidden(myform,'lista_to_add', document.getElementById('nueva_lista').value)
    myform.submit();
  }
  else
  {
    alert('Parece que has olvidado guardar los cambios en las listas');
  }
  
}

function delform(id)
{
  if (dirty == 0){
    myform = document.forms["form_del"];
    addHidden(myform,'lista_to_del', id)
    myform.submit();
  }
  else
  {
    alert('Parece que has olvidado guardar los cambios en las listas');
  }
}

function addcustomform(id)
{
    if (dirty == 0){
    myform = document.forms["form_custom_ele"];
    addHidden(myform,'elem_to_add', id)
    myform.submit();
  }
  else
  {
    alert('Parece que has olvidado guardar algo');
  }
}


function delelem(lista_id, elemento_id){
    var form = $('#form_del');

     url =
      $.ajax( {
        type: "POST",
        url: '/cliente/del_fromlist/'+ lista_id +'/'+elemento_id ,
        dataType: 'json' ,
        data: form.serialize(),
        error: function (xhr, status) {
            alert('Ooopps!!! Parece que algo ha ido mal ha habido un error:'+status+'.  Si persiste ponte en contacto con nosotros');
        },
        success: function( response ) {
          document.getElementById('row_elem_'+response['lista_id']+'_'+response['elemento_id']).remove()
          alert(response['msg']);
          
        }

      } );


}

function show(id){
//learn js... 
current_status = document.getElementById('lista_'+id).style.display;

{% for lista, elementos in full_listas.iteritems %}
document.getElementById('lista_{{ lista.id }}').style.display='none';
{% endfor %}

  if (current_status == 'none')
  {
    document.getElementById('lista_'+id).style.display='';
  }else
  {
    document.getElementById('lista_'+id).style.display='none';
  }
}

{% endblock %}


{% block filtercategory %}

{% endblock %}
{% block content %}
<section class="content gallery pad1"><div class="ic">Add something smart here</div>
  <div class="container">
    <!-- Collection of lists -->
    <div class="row">
    {% for lista, elementos in full_listas.iteritems %}
      <a href="#" id="lista_header_{{lista.id}}" class="btn" onclick="show({{ lista.id }});"> {{ lista.nombre }}</a>
    {% endfor %}
    </div>
    <!-- END Colection of lists -->
</section>

    <!-- Add a list -->
<div class="form_block">
  <div class="container">
    <div class="row">
        <!-- TODO: Fix hitting enter and the incoming shit in this form-->
        <form id="form" action="http://localhost:8080/cliente/listas/add/{{ current_user.id }}" method="post">
        <div class="response-error-message"></div>
        <label class="lista">
        <input type="text" name="lista" id="nueva_lista" placeholder="Crear lista:" value="" data-constraints="@Required @JustLetters" />
        <span class="empty-message">*Debes añadir un nombre.</span>
        <span class="error-message">*No es un nombre valido.</span>
        </label>
        <a href="#" onclick="javascript: submitform()"  class="btn" style="float:left; margin-top: 0px; padding:5px 34px 20px;">Añadir</a>
        </div>
        {% csrf_token %}

        </form>
    </div>
  </div>
</div>
    <!-- END Add a list -->
    <!-- Hidden lists -->
<section class="content"><div class="ic">Add something smart here</div>
  <div class="container">
    <div class="row">
        <div class="blog">
        <form id="form_del" action="http://localhost:8080/cliente/listas/del/{{ current_user.id }}" method="post">
	        {% csrf_token %}
        </form>
        <form id="form_custom_ele" action="http://localhost:8080/cliente/listas/custom/{{ current_user.id }}" method="post">
                {% csrf_token %}
        </form>

        <form id="trickform">
          {% for lista, elementos in full_listas.iteritems %}
          <div id="lista_{{ lista.id }}" style="display:none">
          <table>
          <tr>
            <td><div class="lista_nombre_{{ lista.id }}" id="{{ lista.id }}" >{{ lista.nombre }}</div><td><a href="#" onclick="javascript: delform('{{ lista.id }}')" style="font-size:8" class="fa fa-trash-o"></td>
            <td><div class="custom_elem_{{ lista.id }}" id="{{ lista.id }}" >Añade un Elemento</div><td><a href="#" onclick="javascript: addcustomform('{{ lista.id }}')" style="font-size:8" class="fa fa-plus"></td>
            </td>
          </tr></table>
          <br>
          <!-- TODO: rovide nice center and style for numbers and so on-->
            <table id="table_lista_{{ lista.id }}">
              <thead>
                <tr>
                  <th>nombre</th>
                  <th>Stock Optimo</th>
                  <th>Existencias</th>
                  <th>Pedir</th>
                  <th>Precio</th>
                </tr>
              </thead>
            
              <tbody>
             {% for i in elementos %}
                <tr id=row_elem_{{lista.id}}_{{ i.id }}>
                  <td>{{ i.producto.nombre }}</td>
                  <td><div id="stoc_{{lista.id}}_{{ i.id }}" class="stoc_{{lista.id}}_{{ i.id }}">{{ i.stock_optimo }}</div><td>
                  <td><div id="exis_{{lista.id}}_{{ i.id }}" class="exis_{{lista.id}}_{{ i.id }}">{{ i.existencias }}</div><td>
                  <td><div id="elem_{{lista.id}}_{{ i.id }}" class="elem_{{lista.id}}_{{ i.id }}">{{ i.cantidad }}</div><td>
                  <td>{{ i.producto.precio }}</td>
                  <td><a href="#" onclick="javascript: delelem('{{ lista.id }}','{{ i.id }}')" style="font-size:8" class="fa fa-trash-o"></td>
                </tr>
            
             {% endfor %}
              </tbody>
            </table>
          </div>
          {% endfor %}
          </form>
      </div>
    </div>
  </div>
    <!-- END Hidden lists -->
</section>



{% endblock %}

