{% extends "cliente/base_cliente.html" %}
{% load staticfiles %}
{% block purejavascript %}

//combo_option[combo_option.selectedIndex].id

//Javascript to collect info from form id = search_form
function submitform() {
  dirty = 0;
  myform = document.forms["search_form"];
  myform.page = '{{ product_list.number }}';
  cat = document.getElementById('categoria').options
  cat_id = cat[cat.selectedIndex].id
  //really hand made :( TODO: use jquery and handle the string from menus too, so they will always fit. Get the originals from jinja templates
  // cat_id == 0 //is the default choose a category
  
  if ( cat_id != 0 )
  {
    addHidden(myform,'categoria', cat_id)
    dirty = 1;
  }

  if (document.getElementById('subcategoria'))
  {
    subcat = document.getElementById('subcategoria').options
    subcat_id = subcat[subcat.selectedIndex].id

    if (subcat_id != 0 )
    {
      addHidden(myform,'subcategoria', subcat_id)
      dirty = 1;
    }
  }

  if (document.getElementById('search').value != "")
  {
    if (document.getElementById('search').value.length < 3)
    {
      alert('Por favor, introduce al menos 3 caracteres')
      return;
    }
    addHidden(myform,'search', document.getElementById('search').value)

    dirty = 1;
  }
  if (dirty == 0 )
  {
    alert('Por favor, introduce algun filtro');
    return;
  }
  myform.submit();
  
}

function addHidden(theForm, key, value) {
    // Create a hidden input element, and append it to the form:
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key;'name-as-seen-at-the-server';
    input.value = value;
    theForm.appendChild(input);
}

function populate_form() {
search_string = '{{ search_parameters.search }}';
categoria = '{{ search_parameters.categoria }}';
  if ( categoria != ''){
    for (i = 0; i< document.getElementById('categoria').length; i++)
      {
        if (document.getElementById('categoria').options[i].id == categoria )
        {
          // Item is found. Set its property and exit
          document.getElementById('categoria').options[i].selected = true;
          break;
        }
      }
  }

subcategoria = '{{ search_parameters.subcategoria }}';
  if ( subcategoria != ''){
    for (i = 0; i< document.getElementById('subcategoria').length; i++)
      {
        if (document.getElementById('subcategoria').options[i].id == subcategoria )
        {
          // Item is found. Set its property and exit
          document.getElementById('subcategoria').options[i].selected = true;
          break;
        }
      }
  }



}

$(document).ready(function() {
var form = $('#send_lista_info');
populate_form();

  $('select').on('change', function() {
   //ugly but id will help to identify category or something like that
   if ($(this).attr('id') == 'categoria' || $(this).attr('id') == 'subcategoria' ) 
   {
     //nothing to do here, choose a categoria do not mean anything
     cat_id = $(this).children(":selected").attr("id");
   } 
   else
   {
     list_id = $(this).val().split(',')[0];
     product_id = $(this).val().split(',')[1];
     url =
      $.ajax( {
        type: "POST",
        url: '/cliente/add_tolist/'+ list_id +'/'+product_id ,
        dataType: 'json' ,
        data: form.serialize(),
        error: function (xhr, status) {
            alert('Ooopps!!! Parece que algo ha ido mal ha habido un error:'+status+'.  Si persiste ponte en contacto con nosotros');
        },
        success: function( response ) {
          alert(response['msg']);
          $('select').val('none');
        }

      } );
    }
  });

});

{% endblock %}

{% block filtercategory %}

<section class="content gallery pad1"><div class="ic">Add something smart here</div>
  <div class="container">
    <div class="row">
      <div class="grid_8">
        <form id="search_form" action="http://localhost:8080/cliente/productos/" method="post">
   <!-- csrf-->
    {% csrf_token %}

          <div class="fl1 ">
          <em style="vertical-align: middle">Categoria</em>
          
          <select name="Categoria" id="categoria" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
            <option id='0' class=''> Elige una categoria2 </option>
	{% for categoria in categorias_list %}
            <option id='cat_{{ categoria.id }}' value="{{categoria.id}}" class={{ categoria.id }}> {{ categoria.nombre }} </option>
	{% endfor %}
          </select>
        {% if sub_categorias_list %}
          <select name="SubCategoria" id="subcategoria" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
            <option id='0' class=''> Elige una sub-categoria </option>
          {% for subcategoria in sub_categorias_list %}
                    <option id='sub_cat_{{ subcategoria.id }}' class={{ subcategoria.id }}> {{ subcategoria.nombre }} </option>
          {% endfor %}
        {% endif %}
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <input class="" id="search" name="search" placeholder="Introduce un producto" data-constraints="" type="text">
            <a class="btn" style="vertical-align: bottom" data-type="submit" href="#" onclick="submitform();return false;">
            Buscar
            </a>
          </div>

        
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block content %}
<section class="content gallery pad1"><div class="ic">Add something smart here</div>
  <div class="container">
    <div class="row">
{% for producto in product_list %}
      <div class="grid_4">
        <div class="gall_block">
          <div class="maxheight">
            <img src="{{ producto.image_url }}"  alt="">
            <div class="gall_bot">
            <div class="text1"><a href="#">{{ producto.nombre }}</a></div>
                <br>{{ producto.descripcion }}
                <h3>Precio: {{ producto.precio }}</h3>
                      <select id="{{ producto.id }}">
                        <option value="none">Añadir a Lista</option>
                {% for lista in user_listas %}
                        <option value="{{ lista.id }},{{ producto.id }}">{{ lista.nombre }}</option>

                {% endfor %}
                      </select>
            <br>
            <a href="#" class="btn">more</a></div>
          </div>
        </div>
      </div>
<!-- if %3  -->
{% if forloop.counter|divisibleby:3 %}
<div class="clear sep__1"></div>
{% endif %}
{% endfor %}
    </div>
  </div>
</section>


<form method='post' id='send_lista_info' action="#">
     <input type="hidden" value="" />
     {% csrf_token %}
</form>
{% endblock %}

{% block pagination %}
<section class="content gallery pad1"><div class="ic">Add something smart here</div>
  <div class="container">
    <div class="row">
      <div class="grid_4">


      <div class="pagination">
              {% if product_list.has_previous %}
                  <a href="?page={{ product_list.previous_page_number }}" class="btn" style="vertical-align: bottom"> < Ant </a>
              {% endif %}

                  Pag. {{ product_list.number }} de {{ product_list.paginator.num_pages }}

              {% if product_list.has_next %}
                  <a href="?page={{ product_list.next_page_number }}" class="btn" style="vertical-align: bottom" > Sig > </a>
              {% endif %}
      </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}


